*{
    margin: 0;
    padding: 0;
    list-style: none;
}
body,html{
    width: 100%;
    height: 100%;
}

.el-card{
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
    
    }


    .el-table{

margin: 15px 0px;
    }